<%= form_with(model: cat, local: true) do |form| %>
  <% if cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
        <% cat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :names %>
    <%= form.text_field :names %>
  </div>

  <div class="field">
    <%= form.label :last_fed %>
    <%= form.datetime_select :last_fed %>
  </div>

  <div class="field">
    <%= form.label :sector_id %>
    <%= form.text_field :sector_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
