<%= form_with(model: cat, local: true) do |form| %>
  

  <div class="field">
    <%= form.label :name, 'Name:' %>
    <%= form.text_field :name %>
  </div>

  <%# <div class="field">
    <%= form.label :last_fed
    <%= form.datetime_select :last_fed
  </div> %>

  <%# <div class="field">
    <%= form.label :sector_id
    <%= form.text_field :sector_id
  </div>%>

  <div class="field">
    <%= form.label :imageUrl, "Image URL: " %>
    <%= form.text_field :imageUrl %>
    <%= form.hidden_field :sector_id, :value => @sector_id%>

    <%#= form.file_field :imageUrl, direct_upload: true %>

  </div>

  <div class="actions">
    <%= form.submit 'Add Cat' , :class=>"btn btn-primary"%>
  </div>
<% end %>
