<div class = "container mw-100" style="display: flex; justify-content: between; flex-direction: column">
<p id="notice"><%= notice %></p>

<h1>Cats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Last fed</th>
      <th>Sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><% if cat.imageUrl != ""%>
        <%= image_tag(cat.imageUrl, {:style => "width:150px;"})%>
        <%else%>
        <p>No image</p>
        <%end%>
        </td>
        <td><%= cat.last_fed %></td>
        <td><%= cat.sector_id %></td>
        <td><%= link_to 'Show', cat %></td>
        <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
        <td><%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat', new_cat_path %>
</div>