<p id="notice"><%= notice %></p>

<h1>Feed Logs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Cat</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_logs.each do |feed_log| %>
      <tr>
        <td><%= feed_log.user_id %></td>
        <td><%= feed_log.cat_id %></td>
        <td><%= feed_log.comment %></td>
        <td><%= link_to 'Show', feed_log %></td>
        <td><%= link_to 'Edit', edit_feed_log_path(feed_log) %></td>
        <td><%= link_to 'Destroy', feed_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed Log', new_feed_log_path %>
